fieldset{
	 width:60%;
	 padding:20 20px 20px 20px;
	 margin-bottom:10px;
	 border:1px solid #708090;
	 margin:auto;
}
.center_div{
    margin: 0 auto;
    width:80% ;/* value of your choice which suits your alignment */
	height:50%
}
.checkbox{width:50px}
.inline {
display: inline-block;
}
label {
min-width: 120px;
}
label { display:inline-block; width:200px;margin-left:15px; }
input { display:inline-block;}
input[type=submit] { color:#fff; background-color:green; }