label.inline {
 display:inline;
 margin-right:10px;
 }
input, textarea, select, option {
 background-color:#F9E1C6;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #F5C5C5;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }
 input[type=checkbox] {
 background-color:transparent;
 border:none;
 width:10px;