﻿
<style>


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: ;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: white;
}
.active {
    background-color: #4CAF50;
}

ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li a {
    color: #383838;
}


a span{ 
    display:none;
    color:#fff;
    background:rgba(51,51,51,0.75);
    padding:20px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    width:100px;
    text-align:center;
    position: absolute;
    z-index:10;
}
a { 
    display: inline-block;
}
a:hover span{ 
    display:block; 

</style>
